* {
    margin: 0;
    padding: 0;
}


/* Navbar styling Id */

#navbar {
    background-color: rgb(0, 0, 0);
}

.navbar-toggler {
    background-color: darkred;
}

/* Individual Stytling Id's for Navbar Links */
/* Also adding in text shaking when hovering */

#site-name {
    color: darkred;
    font-family: 'Creepster', cursive;
    font-size: 30px;
}

#site-name:hover {
    animation: shake 250ms infinite;
    animation-timing-function: linear;
}

#home-link {
    color: darkred;
    font-family: 'Creepster', cursive;
    font-size: 20px;
}

#home-link:hover {
    animation: shake 250ms infinite;
    animation-timing-function: linear;
}

#fav-link {
    color: darkred;
    font-family: 'Creepster', cursive;
    font-size: 20px;
}

#fav-link:hover {
    animation: shake 250ms infinite;
    animation-timing-function: linear;
}

#movie-link {
    color: darkred;
    font-family: 'Creepster', cursive;
    font-size: 20px;
}

#movie-link:hover {
    animation: shake 250ms infinite;
    animation-timing-function: linear;
}

#game-link {
    color: darkred;
    font-family: 'Creepster', cursive;
    font-size: 20px;
}

#game-link:hover {
    animation: shake 250ms infinite;
    animation-timing-function: linear;
}

#log-sign-link {
    color: darkred;
    font-family: 'Creepster', cursive;
    font-size: 20px;
}

#log-sign-link:hover {
    animation: shake 250ms infinite;
    animation-timing-function: linear;
}

/* Using skewX works better than rotate so it makes the transition better to smaller screens. */

@keyframes shake {
    0% { transform: skewX(20deg); }
    25% { transform: skewX(-20deg); }
    50% { transform: skewX(20deg); }
    75% { transform: skewX(-20deg); }
    100% { transfrom: skewX(20deg); }
}

/* ABOUT SECTION */

h1 {
    text-align: center;
    padding: 30px;
    margin: 0;
    font-family: 'IM Fell English SC', cursive;
    background-color: rgb(0, 0, 0);
    color: rgb(95, 4, 95);
}

#about-text {
    border: 5px black solid;
    background-color: silver;
    margin: 0px;
}

#text {
    padding: 25px;
    font-family: 'IM Fell English SC', cursive;
    font-size: 20px;
    margin: 0px;
}


/* MOVIE OBESSION SECTION */

#movie-obsession {
    background-image: url(/images/obsession-background.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 75vh;
    padding-bottom: 150px;
}

#about-movie-obsession {
    text-align: center;
    margin: 70px 200px;
    font-size: 18px;
    position: relative; top: -450px; left: 175px;
    color: black;
    font-family: 'Ceviche One', crusive;
}

#movie-obsession-image {
    padding-top: 80px;
    padding-left: 20px;
    margin: 0px;
}

/* GAME OBESSION SECTION */

#game-obsession {
    background-image: url(/images/obsession-background.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 120vh;
    padding-top: 150px;
}

#about-game-obsession {
    text-align: center;
    margin: 70px 200px;
    font-size: 18px;
    position: relative; bottom: 450px; left: 175px;
    color: black;
    font-family: 'Ceviche One', crusive;
}

#game-obsession-image {
    padding-top: 80px;
    padding-left: 20px;
    margin: 0px;
}