* {
    margin: 0;
    padding: 0;
}


/* Navbar styling Id */

#navbar {
    background-color: rgb(0, 0, 0);
}

.navbar-toggler {
    background-color: darkred;
}

/* Individual Stytling Id's for Navbar Links */
/* Also adding in text shaking when hovering */

#site-name {
    color: darkred;
    font-family: 'Creepster', cursive;
    font-size: 30px;
}

#site-name:hover {
    animation: shake 250ms infinite;
    animation-timing-function: linear;
}

#home-link {
    color: darkred;
    font-family: 'Creepster', cursive;
    font-size: 20px;
}

#home-link:hover {
    animation: shake 250ms infinite;
    animation-timing-function: linear;
}

#reviews-link {
    color: darkred;
    font-family: 'Creepster', cursive;
    font-size: 20px;
}

#reviews-link:hover {
    animation: shake 250ms infinite;
    animation-timing-function: linear;
}

#readings-link {
    color: darkred;
    font-family: 'Creepster', cursive;
    font-size: 20px;
}

#readings-link:hover {
    animation: shake 250ms infinite;
    animation-timing-function: linear;
}

#voices-link {
    color: darkred;
    font-family: 'Creepster', cursive;
    font-size: 20px;
}

#voices-link:hover {
    animation: shake 250ms infinite;
    animation-timing-function: linear;
}

#contact-link {
    color: darkred;
    font-family: 'Creepster', cursive;
    font-size: 20px;
}

#contact-link:hover {
    animation: shake 250ms infinite;
    animation-timing-function: linear;
}

/* Using skewX works better than rotate so it makes the transition better to smaller screens. */

@keyframes shake {
    0% { transform: skewX(20deg); }
    25% { transform: skewX(-20deg); }
    50% { transform: skewX(20deg); }
    75% { transform: skewX(-20deg); }
    100% { transfrom: skewX(20deg); }
}

/* GAMES TITLE AND BACKGROUND IMAGE */

#readings-title {
    text-align: center;
    font-family: 'Press Start 2p', cursive;
    padding: 20px;
}

#title {
    font-size: 80px;
}